---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 5
#  footer: 4
#  main: 4
#  utility: 1
meta:
  description: "Financial information and a full accounting of our credits and debits"
#  image:
#    alt: "Default social image" # It's okay for this to be empty if the image is decorative
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /financials/
#published: true
#schema:
#  type: "Thing"
#sections:
#  - cta
#sitemap: true
#tags: ["three", "four"]
title: "Financials"
---

<section class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Ledger"
      classes=""
      level="2"
    %}

    <p>
      The following table is derived from out ledger's journal data source, and represents every transaction in the 
      history of the organization.
    </p>

    <table>
      <thead>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Description</th>
        <th>Identifier</th>
        <th>Notes</th>
      </thead>
      <tbody>
        {% for entry in site.data.financials.journal %}
          <tr>
            <td>{{ entry.date | date_to_string: "ordinal", "US" }}</td>
            <td>$ {{ entry.amount }} (USD)</td>
            <td>{{ entry.type }}</td>
            <td>{{ entry.description }}</td>
            <td><pre>{{ entry.identifier }}</pre></td>
            <td>{{ entry.notes }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
